.row {
  display: flex;
  flex-wrap: wrap;
  min-width: 100%;
}

body {
  background-color: #244a80;
  color: #fff;
  font-family: "Open sans", sans-serif;
}

.column-full {
  width: 100%;
}

.column-half {
  width: 50%;
  padding: 1rem;
}

.column-third {
  flex-basis: calc(100% / 3);
}

.card-1,
.card-2 {
  min-width: 25%;
}

.card-3 {
  min-width: 54%;
}

@media screen and (min-width: 320px) {
  .card-1,
  .card-2,
  .card-3 {
    padding: 0.6rem;
  }

  .header-container {
    justify-content: space-between;
  }

  .header-container > h2 {
    padding-left: 2rem;
  }

  .header-container > i {
    padding-right: 3.5rem;
  }

  .column-7 {
    max-width: 75%;
  }

  body {
    min-width: 500px;
  }

  .container,
  .favorite-container,
  .container-form {
    min-height: 111vh;
  }
}

@media screen and (min-width: 720px) {
  .header-container > i {
    margin-right: 1rem;
  }

  body {
    height: 100%;
  }

  .header-container > h2 {
    margin-left: 2rem;
  }
}

@media screen and (max-width: 770px) {
  .image-container {
    width: 100%;
  }

  .column-half {
    width: 100%;
  }
}
